body { 
    background-color: #222222;
    color: #f0f0f0;
    width: 100%;
    font-family: "Helvetica", "Arial", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Verdana", "Yu Gothic", "Meiryo", sans-serif; 
}
a {
    color: #f0f0f0;
    float: inherit;
}
div {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}
p { 
    font-size: 18px;
    margin: 0 0 0 55px;
    width: 700px;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}
h1 {
    font-size: 22px;
    font-weight: 600;
    margin: 20px 0 4px 0;
}

.note {
    padding: 20px;
    border-left: solid 4px #666666;
    border-bottom: solid 2px #666666;
    width: 700px;
}
.published { 
    font-size: 14px;
    justify-content: flex-end;
}
.line {
    display: flex;
}
.prefname {
    margin: 11px 0 11px 15px;
}
.icon {
    width: 40px;
    height: 40px;
}
.image {
    width: 700px;
}

.navigate-bar {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}
.prev {}
.next {
    margin-left: auto;
}

.search .input {
    width: 300px;
    margin-right: 10px;
    padding: 6px;
}
.search .confirm {
    padding: 6px;
}

@media (max-width: 768px) {
    body { 
        width: 90%;
    }
    div {
        margin: 0 16 0 16;
        width: calc(100% - 32px);
    }
    p { 
        margin-left: 12px;
        width: calc(100% - 32px);
    }
    .published {
        font-size: 12px;
        justify-content: flex-end;
    }
    .note {
        padding: 6px;
        width: inherit;
    }
    .image {
        width: 90%;
    }
    .search .input {
        width: 50%;
    }
}
